{% extends "base.html" %}

{% block title %}Expenses{% endblock %}
{%block head%}
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap4.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="static/css/style.css">
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<style>
  label {
    display:flex; flex-direction: row; justify-content: center; align-items: center;
  }
  .custom-select{width:45px}
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    color: black!important;
    border:none;
    /*change the hover text color*/
  }
  
  
  /*below block of css for change style when active*/
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    color: black!important;
  }

</style>
{%endblock%}
{% block content %}
{%if data==" "%}
<center><p style="padding:12px">No expenses to show</p></center>
{%else%}
<div class="contact-form-wrapper" style="padding:50px;overflow:hidden">
 
    <div class="contact-form" style="max-width:1400px">
    <div class="title">Monthly expenses</div>
      
  <br>
<table id="" class="table table-sm table-striped table-bordered display" style="box-shadow: 0 5px 10px rgba(0,0,0,.2)">
  <thead>
    <tr>
      <th>S.NO</th>
      <th>YEAR</th>
      <th>MONTH</th>
      <th>NO OF ITEMS</th>
      <th>EXPENDITURE</th>
      <th>HISTORY</th>
    </tr>
  </thead>
<tbody>
  {% for row in data %}
  <tr>
    {% set outer_loop = loop %}
    <td>
    {{outer_loop.index}}
    </td>
    
      {% for cell in row %}
      <td>
        {{cell}}
      </td>
      
      {% endfor %}
      <td><a href=mhistory/{{row[1]}}+{{row[0]}}>View purchase history</a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  
  </div>
  </div>
  {%endif%}
  {%endblock%}