{% extends "base.html" %}

{% block title %}Forgot Password {% endblock %}

{% block content %}
    <div class="contact-form-wrapper">
        
        <div class="contact-form">
            <div class="title">
                Enter Username
            </div>
            <br>
            <form method="post" action="/forgot">
                <div class="form-group">
                    <label for="pname" class="required">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-dark">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="text" name="username" placeholder="Enter user name" required>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-dark" style="width:100%;"></ion-icon>Submit</button>
            </form>
        </div>
    </div>
{% endblock %}